@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-color: rgb(40, 40, 42);
}

div.navbar {
    font-family: 'Raleway';
    color: white;
    font-size: 1.4rem;
    border-block-start: 10px;
    border-bottom: 2px solid white;
    padding: 10px 20px 10px;
}

#title {
    padding-left: 10px;
    text-decoration: solid;
    align-items: flex-start;
}

#links {
    padding-left: 80px;
    position: relative;
    font-size: 1.2rem;
}

#nav-links {
    color: rgb(242, 229, 229);
    text-decoration: none;
    margin: 10px;
}

div.Welcome {
    margin-top: 100px;
    margin-left: 40px;
    font-family: 'Raleway';
    font-size: 8rem;
    color: white;
}

#header {
    width: 720px;
    position: relative;
    display: inline-block;
}

@keyframes WhatWeDo {
    0% {
        opacity: 0%;
    }

    60% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

#whatwedo {
    position: relative;
    bottom: 100px;
    left: 240px;
    font-size: 2rem;
    display: inline-block;
    position: relative;
    border: 1px dashed;
    padding: 10px 10px 10px 10px;

    animation-name: WhatWeDo;
    animation-duration: 4s;
}

@keyframes Welcome1 {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes Welcome2 {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}
#w1 {
    animation-name: Welcome1;
    animation-duration: 2s;
}

#w2 {
    animation-name: Welcome2;
    animation-duration: 2s;
}
